* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Baloo Bhaijaan 2", sans-serif;
    background-color: #ffff;
}

header {
    background-color: #fff;
    z-index: 1000;
}

/* home */
.nav-link {
    color: #000 !important;
    transition: all 0.2s ease;
}

.nav-link:hover,
.nav-link:focus {
    background-color: #f8f9fa;
}

.nav-link.active {
    font-weight: 600;
    border-bottom: 3px solid #ed6436;
}

.btn_search {
    background-color: #ed6436;
    color: #fff;
    border-radius: 10px;
}

.btn_search:hover,
.btn_search:focus {
    background-color: #d55a2c;
    color: #fff;
}

.btn_icon {
    background-color: #fff;
    color: #ed6436;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
}

.btn_icon:hover,
.btn_icon:focus {
    background-color: #ed6436;
    color: #fff;
}

.logo-shadow {
    box-shadow: 10px 100px 182px -76px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 10px 100px 182px -76px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 100px 182px -76px rgba(0, 0, 0, 1);
}

.search-overlay {
    z-index: 1051;
}

.background-hero {
    background-image: url(../image/home/background_01.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero-section {
    position: relative;
    overflow: hidden;
}

.hero-image {
    -webkit-mask-image: url(../image/home/download.svg);
    -webkit-mask-position: right;
    -webkit-mask-repeat: no-repeat;
    width: -webkit-calc(50vw + 100px);
    width: -moz-calc(50vw + 100px);
    width: calc(50vw + 100px);
}

.title-hero {
    font-family: "Anton", sans-serif;
    color: #ed6436;
    font-size: 5rem;
}

.icon-hero {
    border-right: 1px solid #ed6436;
    width: 30%;
    padding: 10px;
}

.lead {
    font-size: 1.3rem;
}

.slide-hero {
    width: 60%;
}

.title-slide {
    font-size: 1.5rem;
    font-weight: 600;
}

.description-slide {
    font-size: 1.2rem;
}

.book-now {
    padding: 10px 20px;
    transform: rotate(-10deg);
    transition: all 0.3s ease-in-out;
}

.book-now:hover,
.book-now:focus {
    transform: rotate(0deg) scale(1.05);
}

@media screen and (max-width: 991px) {
    .hero-image {
        width: calc(90vw + 100px);
    }
    .icon-hero {
        height: auto;
        border: none;
    }
    .slide-hero {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .hero-image {
        width: calc(80vw + 100px);
    }

    .icon-hero {
        height: auto;
    }

    .slide-hero {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .hero-image {
        width: calc(75vw + 100px);
    }

    .icon-hero {
        width: 100%;
        height: auto;
    }

    .slide-hero {
        width: 100%;
    }
}

.swiper-pagination {
    justify-content: flex-start !important;
    left: 0 !important;
    right: auto !important;
    text-align: left !important;
    width: 100%;
    display: flex !important;
    align-items: center;
    position: absolute;
    bottom: 10px; /* hoặc vị trí bạn muốn */
    padding-left: 16px; /* cách lề trái */
}

.swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    background: #ed6436 !important;
    opacity: 0.5;
    margin: 0 4px !important;
    transition: all 0.3s;
    justify-content: flex-start !important;
}

.swiper-pagination-bullet-active {
    background: #222;
    opacity: 1;
    transform: scale(1.2);
    box-shadow: 0 2px 8px rgba(237, 100, 54, 0.2);
}

.happy {
    overflow: hidden;
}

.happy-image {
    position: relative;
}

.happy-image-content {
    mask-image: url(../image/home/download2.svg);
    mask-repeat: no-repeat;
    -webkit-mask-position: left;
    mask-position: center;
    margin-left: -30px;
    width: -webkit-calc(100% + 30px);
    width: -moz-calc(100% + 30px);
    width: calc(100% + 30px);
}

.title-happy {
    font-family: "Anton", sans-serif;
    color: #ed6436;
    font-size: 4rem;
}

.description-happy {
    font-size: 1.2rem;
    color: #333;
    margin-top: 20px;
    width: 70%;
}

@keyframes float-water {
    0% {
        transform: translate(25%, -80%);
    }
    50% {
        transform: translate(25%, -100%);
    }
    100% {
        transform: translate(25%, -80%);
    }
}

.water-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(25%, -80%);
    width: 30%;
    height: auto;
    pointer-events: none;
    z-index: 2;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.705));
    animation: float-water 4s ease-in-out infinite;
}

@keyframes float-yarn {
    0% {
        transform: translate(-80%, -50%);
    }
    50% {
        transform: translate(-100%, -50%);
    }
    100% {
        transform: translate(-80%, -50%);
    }
}

.yarn-ball {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    z-index: 1;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.705));
    animation: float-yarn 3s ease-in-out infinite;
}

.btn-booknow {
    background-color: #ed6436;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
}

.btn-booknow:hover {
    background-color: #d55a2c;
    color: #fff;
    transform: scale(1.05);
}

.title-danh-muc {
    font-family: "Anton", sans-serif;
    color: #ed6436;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 20px;
}

.line-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 100%;
    margin: 32px 0;
}

.line-right,
.line-left {
    flex: 1 1 0;
    height: 5px;
    border-radius: 10px;
    background-color: #ed6436;
    max-width: 200px;
}

.icon-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(237, 100, 54, 0.15);
}

.dog-food {
    background-color: #ed6436;
}

.img-dogfood {
    width: 30vh;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}
/* end home */

.content__item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    counter-increment: itemcounter;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    z-index: 1;
    pointer-events: none;
}

.content__item::before {
    color: var(--color-number);
    position: absolute;
    top: 0;
    left: 0;
}

.button {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button::before,
.button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button--janus {
    font-family: freight-display-pro, serif;
    font-weight: 900;
    width: 90%;
    height: 150px;
    color: #fff;
    background: none;
}

.button--janus::before {
    content: "";
    background: #ed6436;
    -webkit-clip-path: path(
        "M185.4,106.2 C157.2,136.2 75,132 36,107.4 C-3,82.8 -4.2,50.4 5.4,30.6 C15,10.8 40.2,-7.2 102,4.2 C163.8,15.6 213.6,76.2 185.4,106.2 Z"
    );
    clip-path: path(
        "M185.4,106.2 C157.2,136.2 75,132 36,107.4 C-3,82.8 -4.2,50.4 5.4,30.6 C15,10.8 40.2,-7.2 102,4.2 C163.8,15.6 213.6,76.2 185.4,106.2 Z"
    );
    transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55),
        background 0.5s ease;
}

.button--janus:hover::before {
    background: #000;
    -webkit-clip-path: path(
        "M171.6,92.4 C140.4,115.2 88.8,120.6 54.6,109.8 C20.4,99 -12.6,68.4 6.6,37.8 C25.8,7.2 94.8,-6.6 156.6,4.8 C218.4,16.2 202.8,69.6 171.6,92.4 Z"
    );
    clip-path: path(
        "M171.6,92.4 C140.4,115.2 88.8,120.6 54.6,109.8 C20.4,99 -12.6,68.4 6.6,37.8 C25.8,7.2 94.8,-6.6 156.6,4.8 C218.4,16.2 202.8,69.6 171.6,92.4 Z"
    );
}

.button--janus::after {
    content: "";
    height: 86%;
    width: 97%;
    top: 5%;
    border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    border: 1px solid #000;
    transform: rotate(-20deg);
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.button--janus:hover::after {
    transform: translate3d(0, -5px, 0);
}

.button--janus span {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s;
}

.button--janus:hover span {
    transform: translateY(-16px) scale(1.1);
    color: #fff;
    text-shadow: 0 8px 24px rgba(237, 100, 54, 0.3);
}
